## Write a Python program that follows the instructions

### 1. Make an array that contains the integers from 1 to 20.

In [ ]:
"""
Name your array as 'A'.
You may use for loop for this task.
Write your code here:
"""

### 2. Print each element in the array A, in following format:
#### A: [1, 2, ..., 19, 20]

In [ ]:
"""
You may use for loop for this task.
Write your code here:
"""

def print_array(A, name):

### 3. Retrieve the odd integers in array A, and save them in another array, odd_A.

In [ ]:
"""
You may use for loop for this task.
Write your code here:
"""


print_array(odd_A, 'odd_A')

### 4. Retrieve all the even integers in array A, and square each value and print them in following format:
#### A_squared: 4, 16, ..., 400

In [ ]:
"""
You may use for loop for this task.
Write your code here:
"""


print_array(even_A, 'even_A')

### 5. Retrieve all the prime numbers in array A, in following format:
#### 2 is prime: True
#### 3 is prime: True
#### 4 is prime: False ...

In [ ]:
"""
You may use for loop for this task.
Write your code here:
"""

def check_prime(a):

### 6. Reverse the order of the array A, and print all elements.

In [ ]:
"""
You may use for loop for this task.
Write your code here:
"""


print_array(A, 'A')

### 7. Find 5th largest element in array A.

In [ ]:
"""
Write your code here:
"""

### 8. Find the minimum, median, mean, maximum values in array A, without using any other external functions.

In [ ]:
"""
Write your code here:

Without using: np.min, np.median, np.mean, np.max
"""

### 9. Read players_15.csv file and print the first 5 rows

In [ ]:
"""
You may use pandas library
Write your code here:
"""

### 10. Print all the columns of players_15.csv file as a list

In [42]:
"""
You may use pandas library
Write your code here:
"""

['sofifa_id', 'player_url', 'short_name', 'long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club', 'overall', 'potential', 'value_eur', 'wage_eur', 'player_positions', 'preferred_foot', 'international_reputation', 'weak_foot', 'skill_moves', 'work_rate', 'body_type', 'real_face', 'release_clause_eur', 'player_tags', 'team_position', 'team_jersey_number', 'loaned_from', 'joined', 'contract_valid_until', 'nation_position', 'nation_jersey_number', 'pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic', 'gk_diving', 'gk_handling', 'gk_kicking', 'gk_reflexes', 'gk_speed', 'gk_positioning', 'player_traits', 'attacking_crossing', 'attacking_finishing', 'attacking_heading_accuracy', 'attacking_short_passing', 'attacking_volleys', 'skill_dribbling', 'skill_curve', 'skill_fk_accuracy', 'skill_long_passing', 'skill_ball_control', 'movement_acceleration', 'movement_sprint_speed', 'movement_agility', 'movement_reactions', 'movement_balance', 'power_shot_power', 'power_jumping', 'power_stamina', 'power_strength', 'power_long_shots', 'mentality_aggression', 'mentality_interceptions', 'mentality_positioning', 'mentality_vision', 'mentality_penalties', 'mentality_composure', 'defending_marking', 'defending_standing_tackle', 'defending_sliding_tackle', 'goalkeeping_diving', 'goalkeeping_handling', 'goalkeeping_kicking', 'goalkeeping_positioning', 'goalkeeping_reflexes', 'ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram', 'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb']

### 11. Find following columns and save the dataframes based on the following columns in df_A. Then, print first 5 rows.
##### 'short_name', 'age', 'height_cm', 'weight_kg', 'overall', 'potential', 'international_reputation', 'skill_moves'

In [44]:
"""
You may use pandas library
Write your code here:
"""

          short_name  age  height_cm  weight_kg  overall  potential  \
0           L. Messi   27        169         67       93         95
1  Cristiano Ronaldo   29        185         80       92         92
2          A. Robben   30        180         80       90         90
3     Z. IbrahimoviÄ‡   32        195         95       90         90
4           M. Neuer   28        193         92       90         90

   international_reputation  skill_moves
0                         5            4
1                         5            5
2                         5            4
3                         5            4
4                         5            1

### 12. Sort df_A by the age of players, and save the dataframe as df_A_age. Then, print the first 5 oldest players' short name and his age.

In [54]:
"""
You may use pandas library
Write your code here:
"""

Kim Byung Ji: 44
P. Mathers: 44
B. Richardson: 44
A. Pierobon: 44
B. Friedel: 43

### 13. Save the 10 oldest players' names in txt file, as five_oldest_players.txt

In [57]:
"""
Write your code here:
"""